@{
    ViewData["Title"] = "Working Memory - Home";
}
<style>
    .bg-1 {
        background-color: #1abc9c; /* Green */
        color: #ffffff;
    }

    .bg-2 {
        background-color: #1ABCA8; /* Dark Blue */
        color: #ffffff;
    }

    .bg-3 {
        background-color: #ffffff; /* White */
        color: #555555;
    }
</style>

<!-- First Container -->
<div class="container-fluid bg-1 text-left" style="background-image: url(images/background.jpg)">
    <h3 class="margin">What is working memory?</h3>
    <p>
        Working memory is the key to learning. It is a cognitive system with a limited capacity that is responsible for temporarily holding information available for processing. There are two types of working memory: auditory memory and visual-spatial memory. Kids with weak working memory tend to have difficulty in holding onto incoming information.
        Working memory is often used synonymously with short-term memory, but some theorists consider the two forms of memory distinct, assuming that working memory allows for the manipulation of stored information, whereas short-term memory only refers to the short-term storage of information.
    </p>
    <h3 class="margin">How to train working memory?</h3>
    <p>There is some evidence that it’s possible to train your working memory using interactive tasks, such as simple games for children that involve memory ability. It has been suggested that this training can help improve scores on other types of tasks, such as those involving vocabulary and mathematics. There is also some evidence that training to beef up working memory can improve performance for children with specific conditions, such as ADHD. </p>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-left">
    <h3 class="margin">How can we help</h3>
    <p>Play our highly-customizable n-back game - tutoring companies utilize versions of the task to improve the fluid intelligence of their clients. Tutoring companies and psychologists also utilize the task to improve the focus of individuals with ADHD and to rehabilitate sufferers of traumatic brain injury; experiments have found evidence that practice with the task helps these individuals focus for up to eight months following training</p>
    <a href="/NBack/Index" class="btn btn-default btn-lg" style="color:darkslategray">
        <span class="glyphicon glyphicon-play"></span> Play our n-back game
    </a>
</div>
